<h2>Listing cards from Trello</h2>
<br>
<div class="panel-default">
  <table class="table-striped custom-stripe table-bordered custom-border sortable" width="100%" align="center">
    <tr>
      <th width="20%"> Card Name</th>
      <th width="20%"> Current Lane</th>
      <th width="20%"> Date Placed in Resumes Lane</th>
      <th width="20%"> Date Placed in End Lane ("Success - " or any "Unsuccessful - " lanes)</th>
      <th width="20%"> Duration of Card, <font color="#ff0000">* means the card is not yet complete</font></th>
    </tr>
    <% if @error.present? %> <h1><font color="#ff0000"><b><%= @error %></b></font></h1>
        <% else @cards.each do |card| %>
        <tr>
          <td><%= card.name %></td>
          <td><%= card.list_name %></td>
          <td><%= CardsHelper.show_start_date(card) %></td>
          <td><%= CardsHelper.show_end_date(card) %></td>
          <td><% if CardsHelper.show_difference_in_time(card).include?('*') %>
                <font color="#ff0000"> <%= CardsHelper.show_difference_in_time(card) %> </font>
            <% else %>
                <%= CardsHelper.show_difference_in_time(card) %>
          <% end %></td>
        </tr>
        <% end %>
    <% end %>
  </table>
  <br>
</div>
