<h2>Listing cards from Trello</h2>
<br>
<p><%= form_tag('/cards', method: 'get') do %>
      <%= label_tag(:show_only, 'Show all') %>
      <%= radio_button_tag(:show_only, 'all_cards', (@show_only == 'all_cards')) %>
      <%= label_tag(:show_only, 'Show only active') %>
      <%= radio_button_tag(:show_only, 'active_cards', (@show_only == 'active_cards')) %>
      <%= label_tag(:show_only, 'Show only inactive') %>
      <%= radio_button_tag(:show_only, 'inactive_cards', (@show_only == 'inactive_cards')) %>
      <br>
      <%= label_tag(:days_old, 'Max. days old:') %>
      <%= number_field_tag(:days_old, (@days_old.nil? ? 90 : @days_old)) %>
      <br>
      <%= label_tag(:location, 'Melbourne') %>
      <%= radio_button_tag(:location, 'Melbourne Recruitment Pipeline', (@location == 'Melbourne Recruitment Pipeline')) %>
      <%= label_tag(:location, 'Sydney') %>
      <%= radio_button_tag(:location, 'Sydney - Software Engineers', (@location == 'Sydney - Software Engineers')) %>
      <br>
      <%= submit_tag('Submit') %>
  <% end %></p>
<div class="panel-default">
  <table id="trellotable" class="datatable table-striped custom-stripe table-bordered custom-border sortable" width="100%" align="center">
    <thead>
    <tr>
      <th width="18%"> Card Name</th>
      <th width="18%"> Current Lane</th>
      <th width="18%"> Date Placed in Start Lane</th>
      <th width="18%"> Date Placed in End Lane ("Success - " or any "Unsuccessful - " lanes)</th>
      <th width="18%"> Duration of Card in days</th>
      <th width="10%"> Urgency</th>
    </tr>
    </thead>
    <tbody>
    <% if @error.present? %> <h1><font color="#ff0000"><b><%= @error %></b></font></h1>
    <% else
         @cards.each do |card| %>
            <tr>
              <td><a href="<%= card.url %>"><%= card.name %></a></td>
              <td><%= card.list_name %></td>
              <td><%= CardsHelper.show_start_date(card) %></td>
              <td><%= CardsHelper.show_end_date(card) %></td>
              <td><%= card.duration_in_days %></td>
              <td style="background-color:<%= CardsHelper.show_colour_status(card) %>"></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
