<h2>Listing cards from Trello</h2>
<br>
<p><%= form_tag('/cards', method: 'get') do %>
      <%= label_tag(:days_old, 'Max. days old:') %>
      <%= number_field_tag(:days_old, :value => '90') %>
      <%= submit_tag('Filter') %>
  <% end %></p>
<p>Default is 90 days.</p>
<div class="panel-default">
  <table id="trellotable" class="datatable table-striped custom-stripe table-bordered custom-border sortable" width="100%" align="center">
    <thead>
    <tr>
      <th width="20%"> Card Name</th>
      <th width="20%"> Current Lane</th>
      <th width="20%"> Date Placed in Start Lane</th>
      <th width="20%"> Date Placed in End Lane ("Success - " or any "Unsuccessful - " lanes)</th>
      <th width="20%"> Duration of Card in days</th>
    </tr>
    </thead>
    <tbody>
    <% if @error.present? %> <h1><font color="#ff0000"><b><%= @error %></b></font></h1>
    <% else
         @cards.each do |card| %>
            <tr>
              <td><%= card.name %></td>
              <td><%= card.list_name %></td>
              <td><%= CardsHelper.show_start_date(card) %></td>
              <td><%= CardsHelper.show_end_date(card) %></td>
              <td><%= card.duration_in_days %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
